@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  background: rgb(255, 193, 0);
  background: radial-gradient(
    circle,
    rgba(255, 193, 0, 1) 10%,
    rgba(88, 0, 105, 1) 80%
  );
}

footer {
  background: rgb(255, 193, 0);
  background: radial-gradient(
    circle,
    rgba(255, 193, 0, 1) 10%,
    rgba(88, 0, 105, 1) 80%
  );
}
